.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-family: 'Roboto';
}

.failure-img {
  height: 250px;
}

.failure-title {
  font-size: 25px;
  color: #1e293b;
}

.failure-description {
  font-size: 20px;
  color: #475569;
}

.retry {
  background-color: #4656a1;
  border-radius: 3px;
  padding: 10px 20px 10px 20px;
  color: #ffffff;
  border: 0;
  cursor: pointer;
  outline: none;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.course-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 40px;
}

.course-details-card {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}

.image {
  height: 300px;
}

.description-card {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-family: 'Roboto';
}

.heading {
  color: #1e293b;
  font-size: 25px;
}

.details {
  color: #475569;
  font-size: 15px;
}
