.link-card {
  text-decoration: none;
}

.course-item-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-bottom: 50px;
}
.logo-img {
  height: 50px;
}
.name {
  color: #1e293b;
  font-size: 15px;
  font-family: 'Roboto';
  margin-left: 10px;
  font-weight: 600;
}
